<cruisecontrol>
	<!--
		Note: Restart the CC.NET service after updating the configuration file!

		Might come in handy:
			<externalLinks>
				<externalLink name="Bug Tracker" url="https://bugtracker.yourcompany.com/" />
			</externalLinks>
	-->

	<project name="MyExtensions" webURL="http://localhost/ccnet">
		<workingDirectory>C:\BuildServer\Projects\MyExtensions</workingDirectory>
		<artifactDirectory>C:\BuildServer\Artifacts\MyExtensions</artifactDirectory>

		<sourcecontrol type="svn">
			<executable>C:\Program Files\Subversion\bin\svn.exe</executable>
			<trunkUrl>svn://svnServer/MyExtensions/trunk</trunkUrl>
			<username>BuildServer</username>
			<password>password</password>
		</sourcecontrol>

		<triggers>
			<intervalTrigger name="continuous" seconds="120" />
			<scheduleTrigger time="22:00" buildCondition="ForceBuild" />
		</triggers>

		<tasks>
			<nant>
				<baseDirectory>C:\BuildServer\Projects\MyExtensions</baseDirectory>
				<executable>MyExtensions\Internal\Tools\NAnt\NAnt.exe</executable>
			</nant>
		</tasks>

		<publishers>
			<merge>
				<!-- All file paths are relative to the WorkingDirectory node at the top of the script. -->
				<files>
					<file>MyExtensions\bin\Reports\*.xml</file>
				</files>
			</merge>

			<!-- Relative to the ArtifactDirectory node at the top of the script. -->
			<xmllogger logDir="BuildReports" />

			<email from="build@yourcompany.com" mailhost="mail.yourcompany.com" includeDetails="true">
				<users>
					<user name="svnUsername" address="your@email.com" />
				</users>
				<groups />
			</email>
		</publishers>
	</project>
</cruisecontrol>